* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff4de;
}
.core {
  color: #ff3938;
  font-size: 2rem;
  font-weight: 700;
}
.design {
  color: #1b1b1b;
  font-size: 2rem;
  font-weight: 700;
}
.orangeColor {
  color: #ff3938;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff4de;
  margin: 2rem 8rem 2rem 6rem;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  list-style: none;
}
.nav-items li {
  margin: 0rem 1rem 0rem 1rem;
}
.nav-items a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
/* Hero section css */
.herosection {
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #fff4de;
}

.hero-content {
  width: 50%;
  text-align: left;
  font-weight: 300;
  margin: 0rem 6rem 0rem 6rem;
}
.hero-sub-heading {
  /* color: #ff3938; */
  font-size: 5rem;
  font-weight: 400;
  text-align: left;
}
.hero-para {
  font-size: 1rem;
  font-weight: 300;
  margin: 2rem 0rem 2rem 0rem;
}
.img {
  width: 80%;
  object-fit: cover;
  border-radius: 1rem;
}

.btn {
  padding: 0.8rem 2.5rem;
  margin: 1rem 0rem 1rem 0rem;
  border: none;
  background-color: #ff3938;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 1s ease;
  border-radius: 1rem;
}
.offer {
  display: flex;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 6rem 2rem 6rem;
  background-color: #171926;
}
.offer-section {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.offer-content {
  width: 100%;
  text-align: left;
  color: white;
}
.offer-img {
  width: 70%;
  object-fit: cover;
  text-align: center;
  border-radius: 1rem;
}
.footer {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  background-color: #171926;
  color: white;
  padding: 2rem 2rem 2rem 2rem;
}
.footer-img {
  width: 30%;
  margin: 0rem 0rem 0rem 6rem;
  object-fit: cover;
  border-radius: 1rem;
}
.footer-section {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.footer-section-content {
  width: 100%;
  text-align: left;
  margin: 0rem 6rem 0rem 0rem;
}
.main-footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-section {
  display: flex;
  width: 50%;
  margin-left: 16rem;
}
.footer-social {
  width: 13%;
  padding: 1rem;
}
.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter-span {
  font-size: 1.5rem;
  font-weight: 700;
}
.newsletter-input {
  padding: 0.8rem 2.5rem;
  width: 50%;
  margin: 1rem 0rem 1rem 0rem;
  border: none;
  background-color: #fff4de;
  color: #171926;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 1s ease;
  border-radius: 1rem;
}

.footer-btn {
  position: relative;
  padding: 0.8rem 2.5rem;
  margin: 1rem 0rem 1rem 0rem;
  border: none;
  background-color: #ff3938;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 1s ease;
  border-radius: 1rem;
}
.footer-content {
  display: flex;
  /* width: 30%; */
  margin: 2rem 6rem 2rem 6rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 1rem;
}
.footer-links li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin: 1rem 0rem 1rem 0rem;
}
.footer-bottom {
  border-top: 1px solid gray;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
  margin: 1rem 6rem 2rem 6rem;
}
.sub-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  /* text-align: center; */
  margin: 0rem 6rem 0rem 6rem;
  background-color: #171926;
  color: white;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  height: 70vh;
}
.label-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem 1rem 0rem;
}
.label {
  font-weight: 500;
  text-aign: left;
}
.input {
  padding: 0.8rem 2rem;
  width: 100%;
  border: none;
  background-color: white;
  color: #171926;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 1rem;
  outline: none;
}
